.body .body-content {
    margin-top: 50px;
    display: flex;
    justify-content: center;
    gap: 100px;
    padding: 2rem calc((100vw - 1300px) / 2);
    align-items: space-around;
    background-color: #fff;
    
}

.body h1{
    font-weight: 700;
    font-size: 32px;
    color: #63DAFF;
}

.body-text {
    height: 32rem;
    width: 30rem;
    background-color: #103150;
    padding: 4rem 4rem;
    flex-direction: column;
    display: flex;
    justify-content: space-between;
    color: #fff;
    box-shadow: 0px 0px 37px 11px rgba(30, 70, 83, 0.4);
}

.body-text button {
    padding: 10px 10px !important;
    border-radius: 20px;
    color: #000;
    background-color: #fff;
}

.grr {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.body-text-11 {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

p, h1, h2, span {
    margin: 0;
}

.body-text-1 h2 {
    font-size: 20px;
}

.body-text-1 {
    background-color: #A9EAFE;
    color: #000;
    height: 16rem;
    width: 17rem;
    padding: 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-size: 14px;
}

.about-button {
    padding: 10px 18px !important;
    width: 200px;
    border-radius: 10px !important ;
}

.about-button:hover {
    background-color: #FFBD59;
}

.body-video {
    display: flex;
    justify-content: center;
    align-items: center;
}

.body-video img {
    border-radius: 20px;
}


.team-header, .utilities-header, .patners-header, .roadmap-header {
    display: flex;
    justify-items: center;
    align-items: center;
    flex-direction: column;
    margin-bottom: 30px;
}

.team-body, .utilities-body {
    align-items: center;
    text-align: center;
    margin: 0%;
}

.team-body-item, .utilities-item {
    margin-block: 10px;
}

.team-body-item img {
    border-radius: 20px;
}

.team-body h2, .utilities h2 {
    font-size: 18px;
    font-weight: 700;
    margin-top: 8px;
}

.team-header p {
    margin-inline: 200px;
    text-align: center;
}

.team-body img {
    width: 150px;
}

.utilities {
    padding: 3rem calc((100vw - 1300px) / 2);
    /* margin-bottom: 20px; */
    background-color: rgb(21, 21, 21, 0.8);
}

.team {
    background-color: rgb(21, 21, 21);
    padding: 3rem calc((100vw - 1300px) / 2);
}

.utilities-header p {
    text-align: center;
}

.utilities-body {
    align-items: center;
    margin: 0%;
}

.utilities-item img {
    width: 440px;
    min-width: 220px;
    align-items: center;
}

.section-bg {
    background: url(../images/bg1.png);
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.patners {
    margin-block: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.patners-image img {
    margin: 20px;
    width: 100px;
}

.faqs {
    background: url(../images/bg1.png);
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.faqs-item {
    background-color: rgb(21, 21, 21, 0.7);
    padding: 2rem calc((100vw - 1300px) / 2);
}

.faqs-item h1{
    display: flex;
    justify-items: center;
    align-items: center;
    flex-direction: column;
    margin-bottom: 30px;
}

.accordian {
    background-color:rgb(21, 21, 21) !important;
    fill: #fff !important;
}

.footer {
    background-color: rgb(21, 21, 21);
    padding: 1.5rem calc((100vw - 1300px) / 2);
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-icon span {
    margin-inline: 10px;
    color: #fff !important;
}

















/* Media Query */


@media screen and (max-width: 525px) {
    .utilities-item img {
        width: 320px;
    }
    .body-video img {
        width: 400px;
    }

    .body-video {
        display: flex;
        justify-content: center;
        padding: 0;
        align-items: center;
    }
    .body-text {
        padding: 2rem 2rem;
    }
    .team-header p {
        margin-inline: 20px;
    }
    .team-body {
        justify-content: center;
    }
    .team-body-item {
        width: 200px;
    }
    .team-body-item img {
        width: 100px;
    }
}