.login {
    width: 480px;
    min-height: 500px;
    background-color: #fff;
    padding: 15px;
    border-radius: 20px;
    box-shadow: 0px 0px 100px rgba(0, 0, 0, 0.1);
}

.login-text {
    text-align: center;
    margin-top: 50px;
    margin-inline: 80px;
}

.form-img {
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
}

.login-text h1 {
    font-size: 20px;
    font-weight: 700;
}  

.form {
    margin: 20px;
    display: flex;
    justify-content: center;
}

.details, .form-input {
    justify-content: center;
}

.details input{
    width: 340px;
    margin-bottom: 20px !important;
    border: solid 2px #C9C9C9;
    color: #102647;
    padding: 20px;
    margin: 5px;
    border-radius: 10px;
}

.form-input h2 {
    margin-top: 20px;
    font-size: 18px;
    font-weight: 600;
    text-align: center;
    color: #102647;
}

.form-input h3 {
    margin-top: 10px;
    font-size: 15px;
    text-align: center;
    color: #102647;
    text-decoration: underline;
}

.form-button {
    width: 340px !important;
    color: #fff;
    font-weight: 700;
    background-color: #102647;
    border-radius: 10px;
    margin-top: 20px;
    padding: 20px;
    border: none;
}

.form-button:hover {
    background-color: #3B66A7;
}


@media screen {
    
}