.nav {
    justify-content: center !important;
    border: none !important;
}

.nav-link {
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff !important;
    padding: 25px;
    margin-inline: 20px;
    font-weight: 600;
    border: none !important;
    font: 30px !important;
    background: #177783 !important;
    border-radius: 50% !important;
}

.nav-link:hover {
    color: #ffffff !important;
    background-color: #000 !important;
    border: none !important;
}

.nav-link.active {
    color: #fff !important;
    background: #104147 !important;
}

.nav-tabs {
    border-bottom: none;
}